<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[/good]</key>
	<string>057</string>
	<key>[/kiss]</key>
	<string>003</string>
	<key>[/no]</key>
	<string>055</string>
	<key>[/ok]</key>
	<string>056</string>
	<key>[/v5]</key>
	<string>047</string>
	<key>[/不行]</key>
	<string>062</string>
	<key>[/云]</key>
	<string>045</string>
	<key>[/互粉]</key>
	<string>075</string>
	<key>[/人]</key>
	<string>046</string>
	<key>[/偷笑]</key>
	<string>015</string>
	<key>[/兔]</key>
	<string>053</string>
	<key>[/再见]</key>
	<string>040</string>
	<key>[/勾引]</key>
	<string>058</string>
	<key>[/卡拉ok]</key>
	<string>069</string>
	<key>[/压力]</key>
	<string>035</string>
	<key>[/可爱2]</key>
	<string>028</string>
	<key>[/可爱]</key>
	<string>027</string>
	<key>[/吃惊]</key>
	<string>018</string>
	<key>[/合作]</key>
	<string>063</string>
	<key>[/含羞]</key>
	<string>038</string>
	<key>[/咖啡]</key>
	<string>068</string>
	<key>[/哈哈]</key>
	<string>002</string>
	<key>[/啤酒]</key>
	<string>072</string>
	<key>[/嘻嘻]</key>
	<string>001</string>
	<key>[/囧2]</key>
	<string>026</string>
	<key>[/囧]</key>
	<string>017</string>
	<key>[/困]</key>
	<string>013</string>
	<key>[/围巾]</key>
	<string>079</string>
	<key>[/大哭]</key>
	<string>007</string>
	<key>[/大困]</key>
	<string>034</string>
	<key>[/太阳]</key>
	<string>071</string>
	<key>[/奉献]</key>
	<string>051</string>
	<key>[/奥特曼]</key>
	<string>052</string>
	<key>[/委屈2]</key>
	<string>039</string>
	<key>[/委屈]</key>
	<string>033</string>
	<key>[/对眼1]</key>
	<string>030</string>
	<key>[/对眼2]</key>
	<string>031</string>
	<key>[/小声]</key>
	<string>032</string>
	<key>[/帽子]</key>
	<string>083</string>
	<key>[/微笑]</key>
	<string>009</string>
	<key>[/心碎]</key>
	<string>066</string>
	<key>[/惊讶]</key>
	<string>019</string>
	<key>[/愤怒]</key>
	<string>010</string>
	<key>[/手势]</key>
	<string>060</string>
	<key>[/手套]</key>
	<string>080</string>
	<key>[/拳头]</key>
	<string>061</string>
	<key>[/掉]</key>
	<string>043</string>
	<key>[/无语2]</key>
	<string>041</string>
	<key>[/无语]</key>
	<string>021</string>
	<key>[/无辜]</key>
	<string>024</string>
	<key>[/时间]</key>
	<string>076</string>
	<key>[/晕]</key>
	<string>004</string>
	<key>[/月亮]</key>
	<string>070</string>
	<key>[/树枝]</key>
	<string>084</string>
	<key>[/汽车]</key>
	<string>049</string>
	<key>[/流汗]</key>
	<string>011</string>
	<key>[/流泪]</key>
	<string>005</string>
	<key>[/熊猫]</key>
	<string>054</string>
	<key>[/爱心]</key>
	<string>065</string>
	<key>[/猪]</key>
	<string>067</string>
	<key>[/玫瑰]</key>
	<string>064</string>
	<key>[/疑惑2]</key>
	<string>029</string>
	<key>[/疑惑3]</key>
	<string>036</string>
	<key>[/疑惑]</key>
	<string>025</string>
	<key>[/相机]</key>
	<string>048</string>
	<key>[/眨眼]</key>
	<string>037</string>
	<key>[/礼物]</key>
	<string>074</string>
	<key>[/笑脸]</key>
	<string>012</string>
	<key>[/给力]</key>
	<string>044</string>
	<key>[/胜利]</key>
	<string>059</string>
	<key>[/自行车]</key>
	<string>077</string>
	<key>[/色]</key>
	<string>022</string>
	<key>[/萌]</key>
	<string>073</string>
	<key>[/蛋糕]</key>
	<string>078</string>
	<key>[/调皮]</key>
	<string>006</string>
	<key>[/贪心]</key>
	<string>014</string>
	<key>[/足球]</key>
	<string>085</string>
	<key>[/鄙视2]</key>
	<string>020</string>
	<key>[/鄙视]</key>
	<string>008</string>
	<key>[/酷]</key>
	<string>016</string>
	<key>[/雪人]</key>
	<string>082</string>
	<key>[/雪花]</key>
	<string>081</string>
	<key>[/顶]</key>
	<string>042</string>
	<key>[/飞机]</key>
	<string>050</string>
	<key>[/鼓掌]</key>
	<string>023</string>
</dict>
</plist>
